.editor-container {
  width: 50%;
  border-left: 1px solid black;
  position: relative;
}

.editor-area {
  height: 90%;
}

.editor-area > p {
  border-bottom: 1px solid black;
  padding: 0.5em 1em;
  background-color: #e3e3e3;
}

#editor {
  font-size: 12px;
}

button {
  font-weight: bold;
}

.button-area {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  gap: 2em;
  border-top: 1px solid black;
  background-color: #e3e3e3;
}

.previous-question-button {
  color: black;
  padding: 1em;
  border-color: #2c3e50;
  border-radius: 5px;
  cursor: pointer;
}

.submit-question-button {
  background-color: limegreen;
  color: black;
  padding: 1em;
  border-color: #2c3e50;
  border-radius: 5px;
  cursor: pointer;
}

.submit-question-button:hover {
  opacity: 0.85;
}

.submitted-question-button {
  background-color: limegreen;
  opacity: 0.45;
  color: black;
  padding: 1em;
  border-color: #2c3e50;
  border-radius: 5px;
  cursor: progress;
}

.next-question-button {
  color: black;
  padding: 1em;
  border-color: #2c3e50;
  border-radius: 5px;
  cursor: pointer;
}

.disabled-button {
  color: black;
  padding: 1em;
  border-color: #2c3e50;
  border-radius: 5px;
  opacity: 50%;
  cursor: not-allowed;
}

.submit-and-next-area-button {
  display: flex;
  gap: 1.5em;
}

#page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
 * =====================================================================================================================
 * Navigation Menu
 * =====================================================================================================================
 */
.navigation-menu-container {
  border-bottom: 1px solid black;
  display: flex;
  padding: 0.5em;
}

/* Question Circles */
.question-circle-container {
  display: flex;
  gap: 1.5em;
}

.question-circle-container > span {
  border: 2px solid black;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.question-circle-container > span:hover {
  cursor: pointer;
  background-color: lightgray;
}

.current-selected-question {
  background-color: lightgray;
}

.code-area {
  width: 100%;
  height: 100vh;
  display: flex;
}

#question-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.question-bar {
  display: flex;
  border-bottom: 1px solid #2c3e50;
  width: 100%;
  background-color: #e3e3e3;
}

.question-bar > div {
  cursor: pointer;
}

.question-bar-active {
  background-color: #ecf0f1;
}

.question-bar > div > p {
  padding: 0.5em 1em;
  font-weight: bold;
}

.question-content {
  padding: 0 1.5em;
  height: 90%;
}

.output-container {
  width: 100%;
}

.output-status-bar {
  display: flex;
  gap: 1em;
  padding: 0.3em 0 0.3em 1em;
  border-bottom: 1px solid #2c3e50;
}

.output-content {
}

.test-result {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1em;
}

.status-bar {
  width: 5px;
  height: 20px;
  border-radius: 3px;
  background-color: green;
}

h1 {
  color: #2c3e50;
}

p, ul, pre {
  font-size: 16px;
  color: #444;
}

pre {
  background: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
}

code {
  background: #e3e3e3;
  padding: 2px 5px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
}

button#run-code {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button#run-code:hover {
  background: #2980b9;
}

#output {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #27ae60;
}

.sucess-test-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding-left: 3em;
  padding-bottom: 0.5em;
}

.sucess-test-container > p {
  color: green;
}

.checkmark-circle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*
 * =====================================================================================================================
 * Error
 * =====================================================================================================================
 */
.error {
  background-color: red;
}

.error-test-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding-left: 3em;
  padding-bottom: 0.5em;
}

.error-test-container > p {
  color: red;
}

.checkmark {
  width: 5px;
  height: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  position: absolute;
}

/*
 * =====================================================================================================================
 * Code Config Forms
 * =====================================================================================================================
 */
form {
  display: flex;
  border-bottom: 1px solid gray;
  background-color: #e3e3e3;
  gap: 0.5em;
}

form > label > select {
  padding: 0 1em;
}

.vim-img-mode-handler-on {
  width: 25px;
  height: 25px;
}

.vim-img-mode-handler-on:hover {
  cursor: pointer;
}

.vim-img-mode-handler-off {
  width: 25px;
  height: 25px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.vim-img-mode-handler-off:hover {
  cursor: pointer;
}

